.DS_Store
.vscode/
.vs/
.vsconfig
.plastic
Temp/
Library/
Logs/
obj/
_build/
Packages/
ProjectSettings/
UserSettings/
Assembly-CSharp.csproj
dungeon.sln
mono_crash.76186c5b2.0.json
*.meta
Assets/DOTween
kitchenChaos.sln
Assembly-CSharp-Editor.csproj